{% extends "template/base.html" %}

{% block style %}
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/header.css">
    <link rel="stylesheet" href="public/css/busca?v=2.css">
{% endblock %}

{% block content %}
    <div class="container" id="container-principal">
        <header id="header-busca-page">
            {{ include("template/navbar.html") }}
        </header>

        <main id="main">
            <div>
            {% if produto|length > 0 %}

                {% for prod in produto %}
                <div class="produto">
                    <img src="{{ prod[2] }}">

                    <div>
                        <h3>{{ prod[1] }}</h3>
                        <p>Preço: R$ {{ prod[3] }}</p>

                        <button>Confirmar</button>
                        <form action="carrinho" method="GET">
                            <input type="hidden" name="idProdDel" value="{{ prod[0] }}">
                            <button id="excluir">Excluir</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <br>
                <br>
                <br>
                <br>
                <h1>Nenhum item no carrinho!</h1>
                <a href="busca" >Faça uma compra!</a>
                <br>
                <br>
                <br>
                <br>
            {% endif %}

            </div>
        </main>

        {{ include("template/footer.html") }}
    </div>
{% endblock %}