{% extends "template/base.html" %}

{% block style %}
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/header.css">
    <link rel="stylesheet" href="public/css/busca.css">
{% endblock %}

{% block content %}
    <div class="container" id="container-principal">
        <header id="header-busca-page">
            {{ include("template/navbar.html") }}
        </header>

        <main id="main">
            <div>
                <div class="produto">
                    <img src="public/img/smart.png">

                    <div>
                        <h3>Sansung M32000+</h3>
                        <p>Preço: R$3200,00</p>
                        <a href="detalhes.html">
                            <button>Confirmar</button>
                            <button id="excluir">Excluir</button>
                        </a>
                    </div>
                </div>

                <div class="produto">
                    <img src="public/img/smart.png">

                    <div>
                        <h3>Sansung M32000+</h3>
                        <p>Preço: R$3200,00</p>
                        <a href="detalhes.html">
                            <button>Confirmar</button>
                            <button id="excluir">Excluir</button>
                        </a>
                    </div>
                </div>

                <div class="produto">
                    <img src="public/img/smart.png">

                    <div>
                        <h3>Sansung M32000+</h3>
                        <p>Preço: R$3200,00</p>
                        <a href="detalhes.html">
                            <button>Confirmar</button>
                            <button id="excluir">Excluir</button>
                        </a>
                    </div>
                </div>

                <div class="produto">
                    <img src="public/img/smart.png">

                    <div>
                        <h3>Sansung M32000+</h3>
                        <p>Preço: R$3200,00</p>
                        <a href="detalhes.html">
                            <button>Confirmar</button>
                            <button id="excluir">Excluir</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>

        {{ include("template/footer.html") }}
    </div>
{% endblock %}