div.form-upload form {
    max-width: 900px;
    margin: auto;
    padding: 20px 30px;
}

div.form-upload form input[type="submit"] {
    background: rgb(139, 10, 151);
    max-width: 300px;
    color: #fff;
}
