<section id="cards">

    <div class="card">
        <img src="public/img/xiaomi.svg" class="card-img-top" alt="xiaomi">
        <div class="card-body">
            <h5 class="card-title">xiaomi</h5>
            <p class="card-text">
                Tem um bom desempenho em jogos , câmera de alta qualidade,
                e uma bateria muito duradoura e ótimo para games.
            </p>
        </div>
    </div>

    <div class="card">
        <img src="public/img/samsung.svg" class="card-img-top" alt="samsung">
        <div class="card-body">
            <h5 class="card-title">samsung</h5>
            <p class="card-text">
                E os mais vendidos por conta do seu preço e qualidade,
                tem um.preco que cabe no seu bolso.
            </p>
        </div>
    </div>

    <div class="card">
        <img src="public/img/apple.svg" class="card-img-top" alt="apple">
        <div class="card-body">
            <h5 class="card-title">apple</h5>
            <p class="card-text">
                Tem câmeras de altíssima qualidade, e ótimo para
                games e para usar no dia a dia sem travamentos
            </p>
        </div>
    </div>

</section>