{% extends "template/base.html" %}

{% block style %}
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/header.css">
    <link rel="stylesheet" href="public/css/busca.css?v=2">
{% endblock %}


{% block content %}
    <div class="container" id="container-principal">
        <header id="header-busca-page">
            {{ include("template/navbar.html") }}
        </header>

        <main id="main">
            <form action="busca" method="POST"> 
                <div class="form-group">
                    <label for="text"><h2>Pesquisar produto</h2></label>
                    <div id="form-layout">
                        <input type="text" name="pesquisar" class="form-control" id="text">
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </form>

            <div>

                {% if pesquisa != ' ' %}
                <h3>Resultado: {{ pesquisa }} </h3>
                {% endif %}

                {% if resultados|length > 0 %}

                    {% for produto in resultados %}
                        <div class="produto">
                            <img src="{{ produto['imgSrc'] }}">

                            <div>
                                <h3>{{ produto['nomeProduto'] }}</h3>
                                <p>R$ {{ produto['precoProduto'] }}</p>

                                <form action="detalhes" method="POST" >
                                    <input type="hidden" name="idProduto" value="{{ produto['idProduto'] }}">
                                    <button type="submit">Detalhes</button>
                                </form>

                                {% if admin == TRUE %}
                                <form action="deleteProd" method="POST">
                                    <input type="hidden" name="idProduto" value="{{ produto['idProduto'] }}">
                                    <input type="hidden" name="src" value="{{ produto['imgSrc'] }}">
                                    <button type="submit" style="background: rgb(224, 26, 26); margin-top: 10px;">Excluir</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                {% else %}

                    <br>
                    <h4>Nenhum resutado encontrado!</h4>
                    <br>
                    
                {% endif %}

            </div>
        </main>

        {{ include("template/footer.html") }}
    </div>
{% endblock %}