{% extends "template/base.html" %}

{% block style %}
  <link rel="stylesheet" href="public/css/login.css">
{% endblock %}

{% block content %}
  <div class="container">
    <div id="logo">
      <img src="public/img/logo.svg"  class="d-inline-block align-top" alt="mosatech">
      Mosatech
    </div>

    <form action="login" method="POST">
      <div class="form-group">
        <input type="hidden" name="csrf" value="{{ csrf }}">
      </div>

      <div class="form-group">
        <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
        <input type="email" class="form-control" name="email" id="email" required>
      </div>

      <div class="form-group">
        <label for="senha"><i class="fa fa-key" aria-hidden="true"></i> Password</label>
        <input type="password" class="form-control" name="senha" id="senha" required>
      </div>

      <div class="form-group">
        Ainda não tenho uma conta <a href="registrar">Registrar-se</a>
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
{% endblock %}