{% extends "template/base.html" %}

{% block style %}
    <link rel="stylesheet" href="src/public/css/main.css">
    <link rel="stylesheet" href="src/public/css/header.css">
    <link rel="stylesheet" href="src/public/css/perfil.css">
{% endblock %}


{% block content %}
    <div class="container" id="container-principal">
        <header id="header-busca-page">
            {{ include("template/navbar.html") }}
        </header>

        <main id="main">
            <div id="img"></div>

            <h2>{{ user['nomeUsuario'] }}</h2>
            <h3>{{ user['email'] }}</h3>
            
            <div>
                <a href="logout">
                    <button>Sair</button>
                </a>
            </div>
        </main>

        {{ include("template/footer.html") }}
    </div>
{% endblock %}