{% extends "template/base.html" %}

{% block style %}
    <link rel="stylesheet" href="public/css/login.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div id="logo">
            <img src="public/img/logo.svg"  class="d-inline-block align-top" alt="mosatech">
            Mosatech
        </div>

        <form onsubmit="return validate()" name="register" method="POST" action="registrar">
            <div class="form-group">
                <input type="hidden" name="csrf" value="{{ csrf }}">
            </div>

            <div class="form-group">
                <label for="nome"><i class="fa fa-user" aria-hidden="true"></i> Nome</label>
                <input type="text" class="form-control" name="nome" id="nome" required>
            </div>

            <div class="form-group">
                <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>

            <div class="form-group">
                <div class="alert" id="alert-senha" style="display: none;">{{ senha-msg }}</div>
                <div class="row">
                    <div class="col">
                        <label for="senha"><i class="fa fa-key" aria-hidden="true"></i> Senha</label>
                        <input type="password" name="senha" id="senha" class="form-control" required>
                    </div>

                    <div class="col">
                        <label for="conf-senha"><i class="fa fa-key" aria-hidden="true"></i> Confirmar senha</label>
                        <input type="password" name="senha-comfirm" id="conf-senha" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                Já tenho uma conta, faça <a href="login">Login</a>
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>

    <script>
        function validate() {
            const senha = document.forms['register']['senha'].value;
            const senhaConfirm = document.forms['register']['senha-comfirm'].value;

            if (senha != senhaConfirm) {
                document.getElementById('alert-senha').innerText = 'senha e confirmar senha estão diferentes'
                document.getElementById('alert-senha').style.display = 'block'
                return false
            }
            
            return true
        }
    </script>
{% endblock %}