main#main {
    width: 80%;
    margin: 40px auto;
}

div#container {
    display: flex;
    align-items: center;
}

div#container img {
    min-width: 300px;
    width: 30%;
}

main#main i {
    background: rgb(131, 7, 161);
    color: rgb(226, 226, 226);
    padding: 10px;
    border-radius: 5px;
}

main#main button {
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    background: rgb(131, 7, 161);
}

main#main  ul {
    list-style: none;
}

main#main ul li {
    margin: 20px 0;
}

@media (max-width: 560px) {
    div#container {
        flex-direction: column;
    }
}
